<mat-card class="example-card">
  <button mat-flat-button color="primary" class="" type="button" [routerLink]="['/home/tamanio'] ">
    <mat-icon>add</mat-icon>
    Nuevo
  </button>
  <div class="mat-elevation-z8 ">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let tamanio"> {{tamanio.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef> Codigo </mat-header-cell>
        <mat-cell *matCellDef="let tamanio"> {{tamanio.codigo}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let tamanio"> {{tamanio.nombre}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="opciones">
        <mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
        <mat-cell *matCellDef="let tamanio">
          <button mat-icon-button color="warn" (click)="eliminar(tamanio)">
            <mat-icon>delete_forever</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editar(tamanio)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="editar">
        <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
        <mat-cell *matCellDef="let tamanio">
          <button mat-icon-button color="primary" (click)="editar(tamanio)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container> -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>