<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Empresa</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #EmpresasForm="ngForm" (ngSubmit)="save(EmpresasForm)" class="form">
      <mat-form-field class="form-element">
        <input matInput placeholder="Codigo" name="codigo" [(ngModel)]="empresa.codigo">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Razón Social" name="razonSocial" [(ngModel)]="empresa.razonSocial">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Alias" name="alias" [(ngModel)]="empresa.alias">
      </mat-form-field>
      <button mat-raised-button color="primary" class="submit-btn" type="submit" *ngIf="!empresa.id">
        <mat-icon>send</mat-icon> Insertar
      </button>
      <button mat-raised-button color="primary" class="submit-btn" type="submit" *ngIf="empresa.id">
        <mat-icon>update</mat-icon> Actualizar
      </button>
    </form>
  </mat-card-content>

</mat-card>