:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
}

mat-card-title, mat-card-content {
    display: flex;
    justify-content: center;
}