<mat-card class="example-card">
  <mat-table [dataSource]="users" class="mat-elevation-z8 ">
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="['firstName', 'lastName']"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: ['firstName', 'lastName']"></mat-row>
  </mat-table>
</mat-card>
