<mat-card class="example-card">
    <button mat-flat-button color="primary" class="" type="button" [routerLink]="['/home/empresa'] ">
      <mat-icon>add</mat-icon>
      Nuevo
    </button>
    <div class="mat-elevation-z8 ">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell *matCellDef="let empresa"> {{empresa.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> Codigo </mat-header-cell>
          <mat-cell *matCellDef="let empresa"> {{empresa.codigo}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="razonSocial">
          <mat-header-cell *matHeaderCellDef> Razón Social </mat-header-cell>
          <mat-cell *matCellDef="let empresa"> {{empresa.razonSocial}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="alias">
            <mat-header-cell *matHeaderCellDef> Alias </mat-header-cell>
            <mat-cell *matCellDef="let empresa"> {{empresa.alias}} </mat-cell>
          </ng-container>
        <ng-container matColumnDef="opciones">
          <mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
          <mat-cell *matCellDef="let empresa">
            <button mat-icon-button color="warn" (click)="eliminar(empresa)">
              <mat-icon>delete_forever</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="editar(empresa)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
