<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Tamaño</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #TamaniosForm="ngForm" (ngSubmit)="save(TamaniosForm)" class="form">
      <mat-form-field class="form-element">
        <input matInput placeholder="Codigo" name="codigo" [(ngModel)]="tamanio.codigo">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="tamanio.nombre">
      </mat-form-field>
      <mat-form-field class="form-element">
      <mat-label>Empresa</mat-label>
      <mat-select [(value)]="tamanio.empresaId">
        <mat-option *ngFor="let empresa of empresas"[(value)]="empresa.id"  name="empresa"  >
          {{empresa.razonSocial}}
        </mat-option>
      </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" class="submit-btn" type="submit" *ngIf="!tamanio.id">
        <mat-icon>send</mat-icon> Insertar
      </button>
      <button mat-raised-button color="primary" class="submit-btn" type="submit" *ngIf="tamanio.id">
        <mat-icon>update</mat-icon> Actualizar
      </button>
    </form>
  </mat-card-content>

</mat-card>