<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Usuario: {{user.firstName + ' ' + user.lastName}}</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/home">Dashboard</button>
    <button mat-button routerLink="/home/users">Users</button>
    <button mat-button routerLink="/home/tamanios">Tamaños</button>
    <button mat-button routerLink="/home/empresas">Empresas</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]=" ['/logout'] ">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout!</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>